h1 {
  /* color: red; */
  font-family: "Arial";
  font-size: 40px;
  text-align: center;
  text-decoration: overline;
}
p {
  /* color: orange; https://developer.mozilla.org/en-US/docs/Web/CSS/named-color */
  /* color: #a6a6a6; */
  /* color: rgb(100, 150, 200); */
  font-family: Tahoma;
  font-style: italic;
  font-size: 1.7em;
  line-height: 2;
}
span {
  font-weight: bold;
  text-decoration: underline;
}
