body {
  margin: 0px;
}
.container {
  width: 968px;
  margin: 0px auto;
}
/* HEADER SECTION */
header {
  background-color: #5c755e;
  height: 75px;
  width: 964px;
  border: solid 2px #000;
  color: white;
}
/* NAV SECTION */
nav {
  background-color: #000;
  height: 30px;
  width: 964px;
  border: solid 2px #000;
  font-weight: bold;
}
/* ASIDE SECTION */
aside {
  float: left;
  width: 176px;
  height: 950px;
  background-color: #9c9f84;
  border-left: solid 2px #000;
  border-bottom: solid 2px #000;
  border-bottom-left-radius: 1em;
}
.asidenav {
  float: left;
  width: 125px;
  height: 550px;
  padding: 17px;
  color: white;
  text-align: left;
  font-family: Arial;
  top: 2px;
}
.subnav {
  list-style-type: none;
  background-color: #5c755e;
  border: solid 2px #404142;
  padding-left: 4px;
  padding-right: 0px;
  width: 135px;
  top: -18px;
  position: relative;
  border-top: solid 1px #404142;
}
/* MAIN SECTION */
main {
  float: left;
  width: 786px;
  height: 9500px;
  background: #e5e4d7;
  border-right: solid 2px #000;
  border-left: solid 2px #000;
  border-bottom: solid 2px #000;
  font-family: Arial;
  font-size: 16px;
  overflow: auto;
  border-bottom-right-radius: 1em;
}
/* ARTICLE OSUUS */
article {
  background-color: #4e5a65;
  border: 2px solid #000;
  border-radius: 1em;
  font-size: 95%;
  padding: 10px;
  margin: 20px;
  width: 280px;
  color: white;
}
.kuva a img {
  width: 100%;
}
header img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media(max-width: 600px)
{
	aside{
		display: none;
	}
  .container, header, nav, main{
    max-width: 600px;
  }
    article{
    background-color: darkred;
  }
}
@media(max-width: 400px)
{
  article{
    background-color: darkgreen;
  }
}