#left,
#center,
#right {
  width: 300px;
  float: left;
  padding: 15px;
  margin: 10px;
  border: solid 2px black;
}
#left {
  background-color: #fffffe;
}
#center {
  background-color: #ecf1ef;
}
#right {
  background-color: #ebece4;
}
/* dia 75 */
h2+p {
  color: red;
}

/* dia 76 */
/* p[lang]{color: orange;} */
p[lang="fr"]{color: blue}